h1 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.35;
    background-color: #d8d8c8;
  }

.container {
  margin-top: 125px;
  margin-bottom: 25px;
  background-color: whitesmoke
}

#address {
  text-align: center;

}

.bold_text {
  font-weight: bold;
}

.centered_text{
  text-align: center;
}

#first-section {
  margin-bottom: 25px;
}

#btnwrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greenbtn {
  background-color: #647474;
  color: #d8d8c8;
}

.greenbackground {
  background-color: #647474;
  color: #d8d8c8;
}

.beigebtn {
  background-color: #d8d8c8;
  color: #647474;
}
