
.class-modal-regular {
    width: 40vw;    
    max-width: 40vw;
}

.modal {
    margin-top: 20px;
}

.react-datetime-picker__wrapper {
    border: none;
}

.class-form {
    width: 400px;    
}

.class-form-group {
    margin-top: 12px;    
}

.invisible {
    display: none;
}